<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login to your account</h2>
<form action="#" th:action="@{/}" th:object="${user}"  method="post">
    <div th:object="${company}" >
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" th:field="*{username}"/>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" th:value="*{password}"/>

        <input type="submit" value="Log In"/>
    </div>
</form>



<!--div>
    <label>Register</label>
    <select name="Acount Type">
        <option th:value="Company"><a href="registercompany">Company</a></option>
        <option th:value="User"><a href="registercompany">User</a></option>
    </select>
</div-->

</body>
</html>