<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<form action="#" th:action="@{/register/user}" th:object="${user}", method="post">
    <div th:insert="registerAccount"></div>
    <div>
        <label for="PDFcv">PDF with CV: </label>
        <input type="text" name="PDFcv" id="PDFcv" th:value="*{PDFcv}"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
        <input type="button" value="Cancel" onClick="window.location.href='../../';">
    </div>
</form>
<div th:insert="goHome"></div>

</body>
</html>