<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<div action="#" th:action="@{/viewCompany}" th:object="${user}", method="get">
    <p th:text="${LoggedInUser.username}"></p>
    <p>Is logged In account type is:</p>
    <p th:text="${type}"></p>

    <br>
    <a href="/makeAd">Make an advertisement</a>

</div>

<!--TODO: Add the list of ads that this company has created along with minimal required information.
        Add a way for the company user to view the applications to that job.-->

</body>
</html>