<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<div>

    <!--p th:text="${LoggedInUser.username}"></p-->
    <p th:text="${company.username}"></p>

    <p>Is logged In:</p>

</div>


<!--TODO: This broke in previous testing...-->
<div th:if="${users!=null and !users.empty}">
    <div th:switch="${users}">
        <div th:case="*">
            <h2>Job Advertisements</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getDisplayName()}"></td>>
                    <td th:text="${user.getEmail()}"></td>>
                    <td th:text="${user.getPhone()}"></td>>
                    <td th:text="${user.getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<td>
    <!--TODO: Get the return button to work-->
    <form action="#" th:action="@{/company/(companyId=${company.getID()})}", method="get">
        <input type="submit" value="Return home">
    </form>
</td>
<div th:insert="goHome"></div>
</body>
</html>