<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div action="#" th:action="@{/user/{userId}(userId = ${user.ID})}" th:object="${user}" method="get">
    <!--p th:text="${LoggedInUser.username}">fw</p>-->
    <p th:text="${user.username}"></p>

    <p>Is logged In</p>
    <br>
    <a href="/makeApplication">Make an application</a>
</div>

<div th:if="${ads!=null and !ads.empty}">
    <div th:switch="${ads}">
        <div th:case="*">
            <h2>Job Advertisements</h2>
            <table>
                <thead>
                <tr>
                    <th>Ad Title</th>
                    <th>Description</th>
                    <th>Company</th>
                    <!--TODO: Fix company payment-->
                    <th>Pay</th>
                    <th>Apply</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ad : ${ads}">
                    <td th:text="${ad.title}"></td>
                    <td th:text="${ad.description}"></td>
                    <td th:text="${ad.company.username}"></td>
                    <td th:text="${ad.priceRange}"></td>
                    <td>
                        <button value="apply" href="/makeApplication/${ad.id}">Apply</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="goHome"></div>

</body>
</html>